<a href="#" {{bind-attr class=":dropdown-toggle buttonClass"}} data-toggle="dropdown" {{action "buttonClick"}}>
    {{fa-icon icon class="icon-glyph"}}
	<span class="label">{{title}}</span>
    {{fa-icon "caret-down" class="icon-caret"}}
</a>
{{ui/controls/item-list items=items class=dropdownMenuClass}}
