<a href="#" {{bind-attr class=":dropdown-toggle buttonClass"}} data-toggle="dropdown" {{action "buttonClick"}}>
    {{#if iconHtml}}
    	{{{iconHtml}}}
    {{else}}
    	{{fa-icon icon class="icon-glyph"}}
    {{/if}}
	<span class="label">{{label}}</span>
    {{fa-icon "caret-down" class="icon-caret"}}
</a>
{{ui/controls/item-list items=items class=dropdownMenuClass}}
