<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{human-time post.time}}</a>
<div class="dropdown-menu post-meta">
  <span class="number">Post #{{post.number}}</span>
  <span class="time">{{full-time post.time}}</span>
  {{#if touch}}
    <a href="{{permalink}}" class="btn btn-default permalink">{{permalink}}</a>
  {{else}}
    <input value="{{permalink}}" class="form-control permalink">
  {{/if}}
</div>
