<div id="wrapper">

	<header id="header">

		<div id="back-nav">
			<div class="btn-group">
				<button class="btn">{{fa-icon "chevron-left"}}</button>
				<button class="btn">{{fa-icon "thumb-tack"}}</button>
			</div>
		</div>

		<div id="header-content">

			<div id="header-primary">

				<h1 id="header-title">
					{{#link-to "discussions" (query-params searchQuery="" sort="recent" show="discussions")}}
						{{#if view.image}}
							<img {{bind-attr src=view.image alt=view.title}}>
						{{else}}
							{{view.title}}
						{{/if}}
					{{/link-to}}
				</h1>

				{{menu-list items=headerPrimaryControls class="nav"}}

			</div>

			<div id="header-secondary">

				<div class="search">
					{{search-input placeholder="Search forum" value=searchQuery active=searchActive action="search"}}
				</div>

				{{menu-list items=headerSecondaryControls}}

			</div>

		</div>

	</header>

	<main id="body">
		{{outlet}}
	</main>

	<footer id="footer">
		{{menu-list items=footerControls}}
	</footer>

</div>

{{outlet "modal"}}

{{render "composer"}}

<div id="alerts">
	{{#each alert in alerts}}
		{{alert-message message=alert}}
	{{/each}}
</div>