<div class="composer-handle"></div>

<div class="composer-body">

	<div class="composer-controls">
		<a href="#" {{action "fullScreen"}}><i class="fa fa-fw fa-expand"></i></a>
		<a href="#" {{action "hide"}}><i class="fa fa-fw fa-caret-square-o-down"></i></a>
		<a href="#" {{action "close"}}><i class="fa fa-fw fa-times"></i></a>
	</div>

	<h3>{{{title}}}</h3>

	<div class="composer-editor">
		{{text-editor placeholder=""}}
	</div>

</div>
