<div id="session">
	{{#if session.user}}
		<ul>
			<li>
				<div class="dropdown dropup">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">{{avatar session.user class="avatar-thumb"}}{{session.user.username}} <i class="fa fa-fw fa-caret-down"></i></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="dropdown dropup notifications-dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle" style="position:relative">
						<i class="fa fa-fw fa-envelope"></i>
						<span class="badge">1</span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
					</ul>
				</div>
			</li>
		</ul>
	{{else}}
		<div class="row">
			<div class="col-xs-6">
				<a href="#" class="btn btn-default btn-block" {{action "login"}}>Log In</a>
			</div>
			<div class="col-xs-6">
				<a href="#" class="btn btn-default btn-block" {{action "signup"}}>Sign Up</a>
			</div>
		</div>
	{{/if}}
</div>
