{{#if controls}}
	{{ui/controls/dropdown-button
		items=renderControls
		class="contextual-controls"
		buttonClass="btn btn-default btn-icon btn-sm btn-naked"
		buttonClick="renderControls"
		menuClass="pull-right"}}
{{/if}}

{{#if post.isDeleted}}
	{{fa-icon "trash-o" class="post-icon"}}
{{/if}}

<header class="post-header">
	{{ui/controls/item-list items=header}}
</header>

<div class="post-body">
	{{{post.contentHtml}}}
</div>

<aside class="post-meta">
	{{ui/controls/item-list items=meta}}
</aside>
