{{partial "components/discussion/post-controls"}}

<header class="post-header">
  {{ui/item-list items=header}}
</header>

<div class="post-body">
  {{{post.contentHtml}}}
</div>

<aside class="post-footer">
  {{ui/item-list items=footer}}
</aside>

<aside class="post-actions">
  {{ui/item-list items=actions}}
</aside>
