<a href="#" {{bind-attr class=":dropdown-toggle buttonClass"}} data-toggle="dropdown" {{action "buttonClick"}}>
    {{#if buttonPartial}}
    	{{partial buttonPartial}}
    {{else}}
    	{{fa-icon icon class="icon-glyph"}}
		<span class="label">{{label}}</span>
	    {{fa-icon "caret-down" class="icon-caret"}}
    {{/if}}
</a>
{{ui/controls/item-list items=items class=dropdownMenuClass}}
