{{#if items}}
  {{view firstItem className=mainButtonClass}}
  <button {{bind-attr class=":dropdown-toggle :btn buttonClass"}} data-toggle="dropdown">
    {{fa-icon "caret-down" class="icon-caret"}}
    {{fa-icon icon class="icon-glyph"}}
  </button>
  {{ui/item-list items=items class=dropdownMenuClass}}
{{/if}}
