<div class="composer-handle"></div>

<div class="composer-controls">
	<a href="#" {{action "fullScreen"}}>{{fa-icon "fa-expand"}}</a>
	<a href="#" {{action "hide"}}>{{fa-icon "fa-caret-square-o-down"}}</a>
	<a href="#" {{action "close"}}>{{fa-icon "fa-times"}}</a>
</div>

{{user-avatar user}}

<div class="composer-body">

	<h3>{{{title}}}</h3>

	<div class="composer-editor">
		{{ui/controls/text-editor placeholder=""}}
	</div>

</div>
